*
!.gitignore
!.xinitrc
!.vim*
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.xmonad*
!.xmonad/*
!.bashrc*
!.Xdefaults
!.ctags
!.timetrap.db
!.terminfo*
!.terminfo/*
!.terminfo/*/*
!bin/**
.viminfo
.*~
*.o
*.tmp
*.sw*
