*
!.gitignore
!.xinitrc
!.vim*
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.xmonad/xmonad.hs
!.bashrc*
!.Xdefaults
!.ctags
!.timetrap.db
!.terminfo*
!.terminfo/*
!.terminfo/*/*
!bin*
!bin/*
.viminfo
.*~
*.o
*.tmp
*.sw*
